* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d087b;
}

#crtimg {
  width: 600px;
  height: 350px;
  background-image: url(./Component\ 30\ –\ 1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  margin-top: -445px;
  margin-right: 550px;
}

#logoimg {
  margin-top: 30px;
  margin-left: 100px;
}

.settime {
  width: 630px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 100px;
  color: #3d087b;
  font-size: 20px;
  line-height: 40px;
}

.set {
  position: absolute;
  margin-top: 40px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#set-time-box {
  display: none;
  width: 320px;
  height: 120px;
  background-color: #954caf;
  color: white;
  font-weight: bold;
  font-size: 16.5px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 99px;
  padding-top: 15px;
  padding-left: 28px;
}
select {
  font-size: 16px;
  width: 300px;
  height: 45px;
  margin-left: 220px;
  color: #3d087b;
}

ul {
  list-style-type: none;
}

.ob-line {
  font-size: 35px;
  margin-left: 15px;
  color: #ad90ce;
}

.set-text {
  display: inline;
  position: absolute;
  margin-top: -3px;
  margin-left: 25px;
}

.wake-up-box {
  width: 630px;
  height: 80px;
  margin-left: 100px;
  margin-top: 20px;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 0.23;
}

.set-alarm {
  width: 320px;
  height: 50px;
  color: white;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 10px;
  opacity: 0.23;
  background: transparent
    linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%)
    0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.set-alarm-text {
  font-size: 25px;
  position: absolute;
  margin-top: 10px;
  margin-left: 110px;
}

.alarmset {
  margin-top: 20px;
}

.set-alarm-text:after {
  content: "Set Alarm";
}

.set-alarm-text:hover:after {
  content: "Party time !";
}

.time-el {
  width: 290px;
  height: 120px;
  margin-top: -60px;
  margin-left: 440px;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(#ededed);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 0.23;
  font-size: 18px;
  font-weight: 600;
  color: #f810fc;
}

.wake-y {
  margin-left: 10px;
  margin-top: 10px;
}

.time-display {
  width: 550px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  color: black;
  float: right;
  display: flex;
  gap: 10px;
  margin-top: -740px;
  margin-right: 600px;
}

.wake-text {
  position: absolute;
  font-family: Bauhaus Hv BT;
  margin-top: -10px;
  margin-left: -15px;
}

.time-box {
  color: #622663;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 12px;
}
.timed1 {
  width: 80px;
  height: 90px;
  background-image: url(./timeline.svg);
  text-align: center;
  color: #921694;
  font-size: 30px;
  margin-top: 20px;
}

.timed1-text {
  margin-top: 10px;
}

.timed-cl {
  width: 90px;
  height: 92px;
  background-image: url(./AM_svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 18px;
  margin-left: 10px;
}

.amtext {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 5px;
}
.obl {
  font-size: 40px;
  color: #ba12bd;
  margin-top: 40px;
}

.bfremind {
  width: 555px;
  height: 118px;
  background-color: white;
  float: right;
  margin-top: -580px;
  margin-right: 596px;
  border-radius: 12px;
  text-align: center;
  color: #7243df;
  font-weight: bold;
  font-size: 18px;
}

#bfremind-text {
  margin-top: 40px;
  font-family: Bauhaus Hv BT;
}
@media only screen and ((min-width: 1541px) and (max-width: 1800px)) {
  .bfremind {
    width: 555px;
    height: 118px;
    background-color: white;
    float: right;
    margin-top: -580px;
    margin-right: 245px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 18px;
  }
  .time-display {
    width: 550px;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 10px;
    margin-top: -740px;
    margin-right: 250px;
  }
  #crtimg {
    width: 600px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -445px;
    margin-right: 200px;
  }
}
@media only screen and ((min-width: 1450px) and (max-width: 1540px)) {
  .bfremind {
    width: 555px;
    height: 118px;
    background-color: white;
    float: right;
    margin-top: -580px;
    margin-right: 150px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 18px;
  }
  .time-display {
    width: 550px;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 10px;
    margin-top: -740px;
    margin-right: 150px;
  }
  #crtimg {
    width: 600px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -445px;
    margin-right: 102px;
  }
}
@media only screen and ((min-width: 1051px) and (max-width: 1140px)) {
  .bfremind {
    width: 480px;
    height: 118px;
    background-color: white;
    float: right;
    margin-top: -580px;
    margin-right: 50px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 18px;
  }
  .time-display {
    width: 480px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 10px;
    margin-top: -740px;
    margin-right: 50px;
    padding: 2px;
  }
  #crtimg {
    width: 480px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -445px;
    margin-right: 50px;
  }
  .settime {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 10px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    margin-left: 10px;
  }
  select {
    font-size: 16px;
    width: 180px;
    height: 45px;
    margin-left: 220px;
    color: #3d087b;
  }
  .wake-up-box {
    width: 500px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 240px;
    height: 120px;
    margin-top: -60px;
    margin-left: 270px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
}
@media only screen and ((min-width: 1140px) and (max-width: 1451px)) {
  .bfremind {
    width: 480px;
    height: 118px;
    background-color: white;
    float: right;
    margin-top: -580px;
    margin-right: 130px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 18px;
  }
  .time-display {
    width: 480px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 10px;
    margin-top: -740px;
    margin-right: 130px;
    padding: 2px;
  }
  #crtimg {
    width: 480px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -445px;
    margin-right: 130px;
  }
  .settime {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 10px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    margin-left: 10px;
  }
  select {
    font-size: 16px;
    width: 180px;
    height: 45px;
    margin-left: 220px;
    color: #3d087b;
  }
  .wake-up-box {
    width: 500px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 240px;
    height: 120px;
    margin-top: -60px;
    margin-left: 270px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
}

@media only screen and ((min-width: 1000px) and (max-width: 1050px)) {
  .bfremind {
    width: 480px;
    height: 118px;
    background-color: white;
    float: right;
    margin-top: -580px;
    margin-right: 0px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 18px;
  }
  .time-display {
    width: 480px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 10px;
    margin-top: -740px;
    margin-right: 5px;
    padding: 2px;
  }
  #crtimg {
    width: 480px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -445px;
    margin-right: 0px;
  }
  .settime {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 10px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    margin-left: 10px;
  }
  select {
    font-size: 16px;
    width: 180px;
    height: 45px;
    margin-left: 220px;
    color: #3d087b;
  }
  .wake-up-box {
    width: 500px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 240px;
    height: 120px;
    margin-top: -60px;
    margin-left: 270px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
}
@media only screen and ((min-width: 745px) and (max-width: 1000px)) {
  .bfremind {
    width: 380px;
    height: 90px;
    background-color: white;
    /* float: right; */
    margin-top: -140px;
    margin-right: 150px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 12px;
  }
  .time-display {
    width: 380px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    gap: 5px;
    margin-top: -280px;
    margin-right: 155px;
    padding: 2px;
  }
  #crtimg {
    width: 380px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* float: right; */
    margin-top: -20px;
    margin-right: 150px;
  }
  .settime {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    margin-left: 250px;
  }

  .wake-up-box {
    width: 94vw;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    text-align: center;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-bottom: 80px;
    margin-left: 250px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 260px;
    height: 120px;
    margin-bottom: 300px;
    margin-left: 248px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
  .wake-text {
    position: absolute;
    font-family: Bauhaus Hv BT;
    margin-top: -10px;
    margin-left: 150px;
    font-size: 22px;
  }
  .time-box {
    color: #622663;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 12px;
  }
  .timed1 {
    width: 80px;
    height: 90px;
    background-image: url(./timeline.svg);
    text-align: center;
    color: #921694;
    font-size: 30px;
    margin-top: 20px;
  }

  .timed1-text {
    margin-top: 10px;
  }

  .timed-cl {
    width: 90px;
    height: 92px;
    background-image: url(./AM_svg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 18px;
    margin-left: 10px;
  }

  .amtext {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
  }
  #set-time-box {
    display: none;
    width: 280px;
    height: 120px;
    background-color: #954caf;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 60px;
    padding-top: 15px;
    padding-left: 30px;
  }
}
@media only screen and ((min-width: 386px) and (max-width: 745px)) {
  .bfremind {
    width: 380px;
    height: 90px;
    background-color: white;
    /* float: right; */
    margin-top: -140px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 12px;
  }
  .time-display {
    width: 380px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 5px;
    margin-top: -280px;
    margin-right: 5px;
    padding: 2px;
  }
  #crtimg {
    width: 380px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .settime {
    width: 370px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 10px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    text-align: center;
  }
  select {
    position: relative;
    margin-top: 5px;
    font-size: 16px;
    width: 115px;
    height: 30px;
    margin-left: 160px;
    color: #3d087b;
  }
  .wake-up-box {
    width: 370px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-bottom: 80px;
    margin-left: 70px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 240px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 300px;
    margin-left: 75px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
  .set-text {
    display: inline;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 17px;
  }
  .wake-text {
    position: absolute;
    font-family: Bauhaus Hv BT;
    margin-top: -10px;
    margin-left: -18px;
    font-size: 22px;
  }
  .time-box {
    color: #622663;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 12px;
  }
  .timed1 {
    width: 80px;
    height: 90px;
    background-image: url(./timeline.svg);
    text-align: center;
    color: #921694;
    font-size: 30px;
    margin-top: 20px;
  }

  .timed1-text {
    margin-top: 10px;
  }

  .timed-cl {
    width: 90px;
    height: 92px;
    background-image: url(./AM_svg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 18px;
    margin-left: 10px;
  }

  .amtext {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
  }
  #set-time-box {
    display: none;
    width: 280px;
    height: 120px;
    background-color: #954caf;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 60px;
    padding-top: 15px;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 385px) {
  .bfremind {
    width: 350px;
    height: 90px;
    background-color: white;
    /* float: right; */
    margin-top: -140px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
    text-align: center;
    color: #7243df;
    font-weight: bold;
    font-size: 12px;
  }
  .time-display {
    width: 350px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: right;
    display: flex;
    gap: 5px;
    margin-top: -280px;
    margin-right: 5px;
    padding: 2px;
  }
  #crtimg {
    width: 350px;
    height: 350px;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .settime {
    width: 345px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 5px;
    color: #3d087b;
    font-size: 20px;
    line-height: 40px;
  }
  #logoimg {
    margin-top: 30px;
    text-align: center;
  }
  select {
    position: relative;
    margin-top: 5px;
    font-size: 16px;
    width: 100px;
    height: 25px;
    margin-left: 155px;
    color: #3d087b;
  }
  .wake-up-box {
    width: 340px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
  }

  .set-alarm {
    width: 250px;
    height: 50px;
    color: white;
    margin-bottom: 80px;
    margin-left: 60px;
    border-radius: 10px;
    opacity: 0.23;
    background: transparent
      linear-gradient(
        113deg,
        #6e54ec 0%,
        #cb52f8 40%,
        #fc5eff 81%,
        #f1a7c5 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .set-alarm-text {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .time-el {
    width: 240px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 300px;
    margin-left: 65px;
    background: var(#ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(#ededed);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 0.23;
    font-size: 16px;
    font-weight: 600;
    color: #f810fc;
  }
  .set-text {
    display: inline;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 17px;
  }
  .wake-text {
    position: absolute;
    font-family: Bauhaus Hv BT;
    margin-top: -10px;
    margin-left: -15px;
    font-size: 20px;
  }
  .time-box {
    color: #622663;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 12px;
  }
  .timed1 {
    width: 80px;
    height: 90px;
    background-image: url(./timeline.svg);
    text-align: center;
    color: #921694;
    font-size: 25px;
    margin-top: 20px;
  }

  .timed1-text {
    margin-top: 10px;
  }

  .timed-cl {
    width: 90px;
    height: 92px;
    background-image: url(./AM_svg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 18px;
    margin-left: 10px;
  }

  .amtext {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
  }
  #set-time-box {
    display: none;
    width: 280px;
    height: 120px;
    background-color: #954caf;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 60px;
    padding-top: 15px;
    padding-left: 30px;
  }
}
